<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hum40.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,208},{98,98}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>hum41.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,546},{94,97}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>hum42.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,904},{93,105}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>hum43.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,443},{95,101}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>hum44.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{96,98}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>hum45.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,427},{95,94}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>hum46.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{93,112}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>hum47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{95,110}}</string>
                <key>offset</key>
                <string>{-22,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>hum48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{108,112}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>hum49.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{106,112}}</string>
                <key>offset</key>
                <string>{-29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>hum410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{98,113}}</string>
                <key>offset</key>
                <string>{-25,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,113}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>hum411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{95,111}}</string>
                <key>offset</key>
                <string>{-22,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,111}}</string>
                <key>sourceSize</key>
                <string>{95,111}</string>
            </dict>
            <key>hum412.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,784},{96,104}}</string>
                <key>offset</key>
                <string>{-17,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>hum413.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,890},{90,104}}</string>
                <key>offset</key>
                <string>{-20,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>hum414.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,460},{105,102}}</string>
                <key>offset</key>
                <string>{-30,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>hum415.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,571},{103,105}}</string>
                <key>offset</key>
                <string>{-24,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>hum416.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,234},{88,109}}</string>
                <key>offset</key>
                <string>{-19,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,109}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>hum417.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{87,108}}</string>
                <key>offset</key>
                <string>{-12,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>hum418.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,678},{104,102}}</string>
                <key>offset</key>
                <string>{-26,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>hum419.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,103},{97,98}}</string>
                <key>offset</key>
                <string>{-24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>hum420.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,221},{98,102}}</string>
                <key>offset</key>
                <string>{-26,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>hum421.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{98,103}}</string>
                <key>offset</key>
                <string>{-28,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>hum422.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{97,99}}</string>
                <key>offset</key>
                <string>{-26,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>hum423.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,899},{100,104}}</string>
                <key>offset</key>
                <string>{-23,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>hum424.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{97,102}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>hum425.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,651},{94,97}}</string>
                <key>offset</key>
                <string>{-2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>hum426.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,547},{93,102}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>hum427.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{94,103}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>hum428.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,308},{95,93}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>hum429.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,325},{100,98}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>hum430.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,234},{103,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>hum431.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,339},{98,102}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>hum432.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,685},{104,105}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>hum433.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,567},{100,104}}</string>
                <key>offset</key>
                <string>{2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>hum434.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,339},{102,99}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>hum435.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,107},{102,98}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>hum436.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{92,107}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>hum437.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,792},{90,105}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>hum438.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,443},{95,102}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>hum439.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,211},{95,100}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>hum440.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,795},{89,107}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,107}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>hum441.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,106},{93,100}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>hum442.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,349},{101,109}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{101,109}</string>
            </dict>
            <key>hum443.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{102,108}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{102,108}</string>
            </dict>
            <key>hum444.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,116}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>hum445.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{100,112}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>hum446.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,460},{98,109}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,109}}</string>
                <key>sourceSize</key>
                <string>{98,109}</string>
            </dict>
            <key>hum447.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{104,109}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:138de59a42fb3168ac4bec1c21ca359e$</string>
            <key>textureFileName</key>
            <string>hum4.png</string>
        </dict>
    </dict>
</plist>
